/playground/playground/Debug
/playground/Debug
/playground/ipch/playground-2a264ab1
/playground/playground.sdf
/playground/playground.v11.suo
/playground/ipch
/playground/playground/playground.aps
/playground/playground/playground.vcxproj.filters
/playground/playground/playground.vcxproj.user
/playground/playground.opensdf
/playground/playground/output.txt
